@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');
body{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    list-style: none;
    text-decoration: none;
}
.container{
    margin:  0 auto;
    max-width: 1144px;

    

}
/* Header start */
header .container{
    z-index: 999;
  
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container ul{
    display: flex;
}
header .container .barsandlogo{
margin: 20px 0 0 152px;
display: inline-flex;
align-items: center;
gap: 16px;
}
header .container .barsandlogo i{
    color: black;
}
header .container ul{
    margin: 20px 148px 0 0;
    display: inline-flex;
    gap: 8px; 
    align-items: center;
}
header .container ul li select{
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    padding: 10px 12px;
    border: 1px solid #EDF0F4;
}
header .container ul li:nth-child(2) {
    display: flex;
    padding: 10px 24px;
    align-items: center;
    gap: 10px;
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
}
header .container ul li:nth-child(2) a{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.25px;
    color: black;
}
header .container ul li:nth-child(3) {
    display: flex;
    padding: 10px 24px;
    align-items: center;
    gap: 10px;
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    background-color: #4CB147;
    cursor: pointer;
}
header .container ul li:nth-child(3):hover{
    opacity: 0.8;
}
header .container ul li:nth-child(3) a{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.25px;
    color: #fff;
}
/* Header End */
/* Main Start */
.main{
    height: auto;
    margin-top: 79px;
}

.main .othersearch{
    font-size: 34px;
    font-weight: 400;
    line-height: 40px; 
    margin: 32px 0 0 148px;
}
.main .form{
    margin: 16px 0 0 148px;
    width: 50%;
    height: 48px;
    gap: 10px;
    display: flex;
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    align-items: flex-start;
    padding: 12px 16px;
}
.main .form .textsearch{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: -0.15px;
    border: none;
}
.main .fa-search{
color: black;
}
.main .doctorresult{
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    color:  #B7BBC2;
    margin: 16px 0 0 148px;
}
.main .body {
    height: 48px;
    width: 240px;
    height: 48px;
    margin: 24px 0 0 148px;
    border: 1px solid #EDF0F4;
    
}
.main .drawer{
    width: 240px;
    height: 248px;
    margin: 0 0 0 148px;
} 
.main .item-container{
    background-color: #4CB147;
    border: none;
    color: #fff;
}
.main .item-label{
    color: #fff;
}
.main .mult-select-tag{
    align-items: normal;
    width: auto;
    
}
.main .btn-container{
    border: none;
}
.main .multiselects{
    display: flex;
}
.multiselect2 {
    width: 244px;
    height: 48px;
    margin: 24px 0 0 8px;
  }
  .selectBox {
    position: relative;
    cursor: pointer;    
  }  
  .selectBox select {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.15px;
      width: 100%;
      height: 48px;
      border: 1px solid #EDF0F4;
      border-radius: 8px;
  }
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  #checkboxes {
    border: 1px #EDF0F4 solid;
    border-radius: 8px;
    padding: 16px 113px 16px 16px;
    display: none;
    z-index: 9999999;
  }
  #checkboxes .country{
    color:   #B7BBC2;
  }
  #checkboxes label {
    display: inline-flex;
    gap: 8px;  
}
    
    .main  .videocall {
        display: inline-flex;
        padding: 0 0 0 16px;
        align-items: center;
        border-radius: 8px;
        border: 1px solid #EDF0F4;
        width: 200px;
        height: 48px;
        margin: 24px 0 0 8px;
        
        
      
    }
    .main  .videocall .videoitem label  input[type='checkbox'] {
        accent-color: #4CB147;
        width: 24px;
        height: 24px;
    }
    .main .videocall .videoitem{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        
    }
    .main .videocall .videoitem span{
        letter-spacing: -0.15px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    .main  .videocall .videoitem label{
        display: flex;
        width: 24px;
        height: 24px;
        justify-content: center;
        align-items: center;
    }
    /* Doctor profile start */
    .doctorprofile .card{
        display: flex;
        width: 81%;
        margin: 0 auto;
        border: 1px solid #EDF0F4;
        border-radius: 8px;
        margin-top: 32px;
        justify-content: space-between;       
    }
    .doctorprofile .card .left {
        display: flex;
    }
    .doctorprofile .doctorimg .fa-heart{
     border: 1px solid #EDF0F4; 
     color: #848B98;
     border-radius: 50%;  
     width: 40px;
     height: 40px;
     position: absolute;
     margin: 24px 0 0 24px;
     background-color: #fff;
     padding: 11px 0 0 11px;
    }
    .doctorprofile .doctorimg .doctor{
        margin: 32px  0 0 32px;
    }
    .doctorprofile  .profilesee{
        margin-left: 35px;
        display: flex;
        align-items: center;
        gap: 4px;
    }
    .doctorprofile .card  .profilesee span{
        color: #4CB147;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.25px;
        cursor: pointer;
    }
    .doctorprofile .card .center .profession{
     margin: 32px 0 0 24px;
     color:  #848B98;
     font-size: 20px;
     font-weight: 400;
     line-height: 28px;
     letter-spacing: -0.15px;
    }
    .doctorprofile .card .center .docname{
        margin: 4px 0 0 24px;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
    }
    .doctorprofile .card .center .city{
        margin: 8px 0 0 24px;
        color:  #273142;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.5px;
    }
    .doctorprofile .card .center .rating{
        display: inline-flex;
        align-items: center;
        gap: 8px;
        margin: 8px 0 0 24px;
    }
    .doctorprofile .card .center .rating span{
        display: flex;
        align-items: center;
        gap: 4px;
    }
    .doctorprofile .card .center .rating  p{
        color:#273142;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.5px;
    }
    .doctorprofile .card .center .works{
        margin: 8px 0 0 24px;
        align-items: center;
    }
    .doctorprofile .card .center .works p{
        color: #B7BBC2;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; 
        letter-spacing: -0.5px;
    }
    .doctorprofile .card .center .meet{
        margin: 12px 0 0 24px;
        display: inline-flex;
        align-items: center;
        gap: 8px;
    }
    .doctorprofile .card .center .meet .cliniccall,.videocall{
        width: 112px;
        height: 68px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #EDF0F4;
        cursor: pointer;
    }
    .doctorprofile .card .center .meet .cliniccall:hover{
        background-color: #caf0c9;
        border: 1px solid #4CB147;
    }
    .doctorprofile .card .center .meet .cliniccall p{
        color:  #101825;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        margin: 4px 0 0 8px;
    }
    .doctorprofile .card .center .meet .cliniccall .i{
        margin: 8px 0 0 88px;
        color:  #B7BBC2;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
    .doctorprofile .card .center .meet .cliniccall .people{
       width: 32px;
       height: 32px;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: #F2FAF2;
       border-radius: 50%;
       margin: -18px 0 0 8px;  
    }
    .doctorprofile .card .center .meet .videocall:hover{
        background:  #FAECEC;
        border: 1px solid #D45A5A;
    }
    .doctorprofile .card .center .meet .videocall .im{
        margin: 8px 0 0 88px;
    }
    .doctorprofile .card .center .meet .videocall img{
        display: flex;
        width: 16px;
        height: 16px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        margin: -8px 0 0 16px;
    }
    .doctorprofile .card .center .meet .videocall p{
        margin: 12px 0 0 8px;
        color:  #101825;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px; 
    }
    .doctorprofile .card .center  .bron{
        display: flex;
        padding: 10px 85px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: #4CB147;
        border-radius: 8px;
        cursor: pointer;
        display: none;   
    }
    .doctorprofile .card .center .bron p{
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.25px;
    }   
    /* Clock box */
    .doctorprofile .card .clockbox {
    margin: 32px 32px;
    }
    .doctorprofile .card .clockbox .date{
        display: flex;
        align-items: flex-start;
        gap: 8px;
    }
    .doctorprofile .card .clockbox .date .datebox{
        display: flex;
        width: 64px;
        height: 46px;
        border: 1px solid #EDF0F4;
        border-radius: 8px;
        padding: 5px ;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }
    .doctorprofile .card .clockbox .date .datebox:hover{
        background-color: #4CB147;
        color: #FFF;
    }
    .doctorprofile .card .clockbox .date .datebox p:hover{
        color: #FFF;
    }
    .doctorprofile .card .clockbox .date .datebox span:hover{
        color: #FFF;
    }
    .doctorprofile .card .clockbox .date .datebox:nth-child(1){
        display: flex;
        width: 64px;
        padding: 5px 12px;
        flex-direction: column;
        align-items: center;
    }
    .doctorprofile .card .clockbox .date .datebox .faleft{
        display: inline-flex;
        padding: 8px;
        align-items: flex-start;
        gap: 10px;
        width: 32px;
        height: 32px;
        border: 1px solid #EDF0F4;
        border-radius: 16px;
        margin-left: -13px;
        position: absolute;
        margin-right: 51px;
    }
    .doctorprofile .card .clockbox .date .datebox .faleft:hover{
        background-color: #4CB147;
    }
    .doctorprofile .card .clockbox .date .datebox .faleft .fa-solid {
        display: flex;
        width: 16px;
        height: 16px;
        justify-content: center;
        align-items: center;
    }
    .doctorprofile .card .clockbox .date .datebox p{
        color:  #101825;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.1px;
    }
    .doctorprofile .card .clockbox .date .datebox span{
        color: #B7BBC2;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px; 
    }
    .doctorprofile .card .clockbox .date .datebox:nth-child(5) .faleft{
        display: inline-flex;
        padding: 8px;
        align-items: flex-start;
        gap: 10px;
        width: 32px;
        height: 32px;
        border: 1px solid #EDF0F4;
        border-radius: 16px;
        position: absolute;
        margin-left: 119px;  
    }
    .doctorprofile .card .clockbox .date .datebox:nth-child(5) .faleft:hover{
        background-color: #4CB147;
    }
    .doctorprofile .card .clockbox .date .datebox:nth-child(5) .fa-solid{
        transform: rotate(180deg);
        display: flex;
        width: 16px;
        height: 16px;
        justify-content: center;
        align-items: center;  
    }
    .doctorprofile .card .houritem{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        margin-top: 16px;
    }
    .doctorprofile .card .clockbox .hourboxlong{
        display: flex;
        align-items: flex-start;
        gap: 8px;
    }
    .doctorprofile .card .clockbox .hourbox{
        display: flex;
        width: 64px;
        padding: 5px 12px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border: 1px solid #EDF0F4;  
        border-radius: 7px;
        cursor: pointer;
    }
    .doctorprofile .card .clockbox .hourbox:hover{
        background-color: #4CB147;
        color: #FFF;
    }
    .doctorprofile .card .clockbox .busy{
        border: 1px solid #EDF0F4;
        margin-top: 16px;
        border-radius: 8px;
        width: 352px;
        height: 96px;
    }
    .doctorprofile .card .clockbox .busy p{
        color: #101825;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px; 
        letter-spacing: -0.25px;
        margin-top: 16px;
    }
    .doctorprofile .card .clockbox .busy h4{
        color:#4CB147;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.1px;
        text-align: center;
        margin-top: 15px;
        cursor: pointer;
        border-top: 1px solid #EDF0F4;
        padding-top: 12px;
    }
    .doctorprofile .pagination{
        display: flex;
        width: 339px;
        height: 48px;
        border: 1px solid #EDF0F4;
        border-radius: 8px;
        margin: 0 auto;
        margin-top: 40px;
    }
    .doctorprofile .pagination .pagenumber{
        width: 48px;
        height: 47px;
        border: 1px solid #EDF0F4;
        cursor: pointer;
    }
    .doctorprofile .pagination .pagenumber:hover{
        background-color: #4CB147;
        color: #FFF;
    }
    .doctorprofile .pagination .pagenumber p{
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.15px;
        margin-top: 12px;
    }
    .doctorprofile .pagination .arrow{
        padding: 12px;
        cursor: pointer;
    }
    .doctorprofile .pagination .arrow:hover {
        background-color: #4CB147;
    }
    /* doctorprofile end */

    /* Footer Start */
    .bottom{
        margin-top: 120px;
        background-color: #101825;
    }
    .bottom .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .bottom .call, .callleft{
        padding: 40px 0;
        margin-left: -20px;
    }
    .bottom .call h3{
        color:#FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px; 
        letter-spacing: -0.15px;
    }
    .bottom .call   {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
    .bottom .call  ul  {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
    .bottom .call  ul li a{
        color:#FFF;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px; 
        letter-spacing: -0.25px;
    }
    
    .bottom .callleft .app{
        padding-top: 84px;
        display: inline-flex;
        align-items: center;
        gap: 16px;
        margin-left: -16px;
    }
    .footerbottom{
        background-color: #101825;
        opacity: 0.94;
        
    }
    .footerbottom .contactinfo{
        display: flex;
        justify-content: space-between;
    }
    .footerbottom .contactinfo .social{
        display: inline-flex;
        align-items: center;
        gap: 24px;
        padding: 28px;
        margin-left: 117px;
    }
    .footerbottom .contactinfo .legal{
        color: #FFF;
        text-align: right;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.5px;
        align-items: center;
        justify-content: center;
        padding: 28px;
    }
/* footer end */

@media screen and (max-width: 575px){
   header .container{
  width: 360px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
   }
   
   header .container ul li select{
    display: none;
}
header .container ul li:nth-child(2){
    display: none;
}


.main .multiselects{
    display: none;
}
.doctorprofile .card .clockbox{
    display: none;
}

.doctorprofile .card .center  .bron{
    display: block;
}
}







@media screen and (min-width: 575px) and (max-width: 990px){
    /* Header */
    header .container .barsandlogo{
       margin: 0 ;
       margin-left: 16px;
       margin-top: 16px;
    }
    header .container ul li select{
        display: none;
    }
    header .container ul li:nth-child(2){
        display: none;
    }
    header .container ul li:nth-child(3){
        position: absolute;
        right: 0;
       margin: 0 16px;
    }  
    /* header end */
    .main .form{
        width: 95%;
        margin-left: 0;
        margin: 10px 0 0 16px ;
    }
    .main .othersearch{
        margin: 0;
        margin: 10px 0 0 16px
    }
    .main .doctorresult {
        font-size: 25px;
        margin: 0;
        margin: 16px 0 0 16px
    }
    .main .multiselects{
        display: none;
    }
    /* doctor box */
    .doctorprofile .card{
      padding: 20px;
    }
    .doctorprofile .card .clockbox{
        display: none;
    }
    .doctorprofile .card .center  .bron{
        display: block;
        width: 89%;
        margin: 0 0 0 24px;
    }
    .doctorprofile .card .left{
        width: 80%;
    }
    .doctorprofile .card .center .meet{
        flex-direction: row;
        align-items: flex-start;
    }
    .doctorprofile .card .center .meet .videocall{
        width: 160px;
        height: 48px;
        display: flex;
        margin-bottom: 8px;
        padding-top: 7px;
        margin-right: 16px;
    }
    .doctorprofile .card .center .meet .cliniccall{
        width: 160px;
        height: 48px;
        display: flex;
        margin-bottom: 8px;
        padding-right: 8px;
    }
    .doctorprofile .card .center .meet .cliniccall .people{
        margin-top: 8px;
    }
    .doctorprofile .card .center .meet .cliniccall p{
       padding-top: 12px;
    }
    .doctorprofile .card .center .meet .cliniccall .i{
        display: none;
    }
    .doctorprofile .card .center .meet .videocall .im{
        display: none;
    }
    .doctorprofile .card .center .meet .videocall .video{
        margin-top: 16px;
    }
    .doctorprofile .pagination{
        display: none;
    }
   }


